<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Multiselect</title>
  <script src="vue.js"></script>
  <script src="plotly-latest.min.js"></script>
  <script src="vue-multiselect.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-multiselect@2.0.0-beta.14/dist/vue-multiselect.min.css">
</head>
<body onload=init()>
<div id="app">
    <multiselect
    v-model="muni_list"
    :options="options"
    :multiple="true"
    placeholder="Välj kommun"
    >
  </multiselect>
  <pre>{{ muni_list }}</pre>
  <button type="button" name="button" onclick='drawChart("log")'>Rita graf</button>
  <p>Om du vill komma tillbaka till det här urvalet kan du kopiera adressen i det här fältet:</p>
  <input id="url" v-model="url" style="width: 600px">
</div>
<div id="plot" style="width: 600px; height: 600px;"></div>

<script type="text/javascript">

var housePrices = [];
var request = new XMLHttpRequest();
request.open("GET", "price_change.json", false);
request.send(null)
var housePrices = JSON.parse(request.responseText);
//Test-data 3*3-matris
var housePrices2 =
{
  "0764 Alvesta": {
    "1981": 252,
    "1998": 473,
    "2015": 1158
  },
  "0765 Älmhult": {
    "1981": 257,
    "1998": 555,
    "2015": 1518
  },
  "0780 Växjö": {
    "1981": 372,
    "1998": 803,
    "2015": 2544
  }
};
//var muni_list=[];
//var url_args=[];

function init() {
  //readFile();
  multi.muni_list = getSelectionFromUrl();
  drawChart('log');
}

function getSelectionFromUrl() {
  var url_args = window.location.search.substring(1);
  url_args=decodeURI(url_args);
  url_args=url_args.split(",")
  //muni_list=[muni_list];
  return url_args;
}

var multi=new Vue({
  components: {
    Multiselect: window.VueMultiselect.default
  },
  data: {
    url_args: '',
    muni_list: '',
    options: Object.keys(housePrices)
  },
  computed: {
    url: function (){
      var address = window.location.href.split('?')[0];
      var munis = this.muni_list;
      var muni_url = encodeURI(munis);
      var new_address = address + '?' + muni_url;
      return new_address;
    },
  }
}).$mount('#app')

function drawChart(type) {
  //console.log(multi.muni_list);
  var data = [];
  for (var i = 0; i < multi.muni_list.length; i++) {
    //Om kommunlistan är tom, gör inget.
    if (multi.muni_list[i]) {
      trace=getData(multi.muni_list[i]);
      data.push(trace);

    var layout = {
      title: 'Bopriser, småhus. Förändring',
      xaxis: {
        title: 'År'
      },
      yaxis: {
        title: 'Ackumulerad förändring',
        type: type
      }};
      Plotly.newPlot('plot', data, layout);
      }
    }
}
  function getData(muni) {
    //Ger en kommuns data, som blir en trace som skickas till Plotly
    var years = Object.keys(housePrices[muni]);
    var plotData = {};
    plotData.x = years;
    var prices = [];
    years.forEach(setY);
    function setY(item, index) {
      prices.push(housePrices[muni][item]);
    }
    plotData.y = prices;
    plotData.type = "scatter";
    plotData.name = muni;
    return(plotData);
  }
  </script>
</body>
</html>
